@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}
/* Shraing style-start */
.text-primary{
    font-family:"Azeret Mono", monospace;
}
.text-format-1{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.text-format-2{
    font-size: 16px;
    font-weight: 400;
    color: #41444b;
}
/* Shraing style-end */

/* Navigation-start*/
.navigation{
    margin: 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-title{
   font-size: 28px;
   font-weight: 800;
}
.navigation-btn{
    padding: 15px 24px;
    background-color: white;
    border: 1px solid #0D1321;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color:#41444b;
    cursor: pointer;
}
/* Navigation-end */
/* Bannar-start */
#bannar{
    max-width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#bannar-content{
    width: 998px;
    height: 652px;
    margin: 0 auto;
    text-align: center;
}
.bannar-img{
    margin: 30px 0 32px 0;
}
.bannar-title{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
}
.bannar-description{
    margin: 0 73px 38px 73px;
    line-height: 26px;
}
.bannar-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    background-color: #000;
    color: #ffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Bannar-end */
/* Web-dev start */
.web-dev{
    width: 1140px;
    height: 1393px;
    margin: 74px auto;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}
.web-dev-content-heading{
    text-align: center;
}
.web-dev-content-heading-description{
    margin: 0 47px 48px 47px;
}
.web-dev-content-items{
    width: 100%;
    height: 346px;
    padding: 48px;
    border-radius: 16px;
    margin-top: 32px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.web-dev-content-items-text{
    width: 477px;
    height: 219px;
}
.web-dev-content-items-text-title{
    font-size: 24px;
    font-weight: 700;
    color: #0D1321B3;
    margin-bottom: 16px;
}
.web-dev-content-items-text-description{
    margin-bottom: 32px;
}
.web-dev-content-items-text-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.item-2{
    flex-direction: row-reverse;
}
/* web-dev end */
/*Inspiration section start*/
.inspiration{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}
.inspiration-heading{
    margin: 0 144px 48px 144px;
    text-align: center;
}
.inspiration-video{
    width: 100%;
    height: 614px;
    border: 1px solid #0D132133;
    border-radius: 16px;
    padding: 32px;
}
.inspiration-video >iframe{
    width:1076px;
    height:550px;
    border-radius: 16px;
}
/*Inspiration section end*/
/* my-current-target start */
.my-current-target{
    width: 1140px;
    height: 506px;
    margin: 130px auto;
}
.my-current-target-heading{
    margin: 0 144px 48px 144px;
    text-align: center;
}
.my-current-target-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-current-target-item{
    width: 364px;
    height: 360px;
    border-radius: 16px;
    padding: 40px;
}
.my-current-target-item-title{
    font-size: 24px;
    font-weight: 800;
    margin: 24px 0 8px 0;
}
.my-current-target-item-btn{
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-top: 24px;
    border: none;
    border-bottom:2px solid #0D1321 ;
}
.current-target-item-1{
    background-color: #FF4C1E0D;
}
.current-target-item-2{
    background-color: #004CE80D;
}
.current-target-item-3{
    background-color: #FFDF000D;
}

/* my-target end */